# Titre du Carnet

# Introduction

Bienvenue dans ce carnet Jupyter.

# Langages de la Science des Données

- **Python**
- **R**
- **SQL** 
- **Java** 
- **Scala** 
- **Julia**

# Bibliothèques de la Science des Données

- **Pandas** 
- **NumPy** 
- **Matplotlib** 
- **Seaborn** 
- **Scikit-learn** 
- **TensorFlow** 
- **Keras** 
- **PyTorch** 
- **SciPy** 
- **Plotly**

# Outils de la Science des Données

Voici un tableau des principaux outils utilisés dans la science des données, classés par catégorie :

| Catégorie            | Outils           |
|----------------------|------------------|
| **Langages**          | Python, R       |
| **Bibliothèques**     | Pandas,  NumPy  |
| **Visualisation**     | Matplotlib, Seaborn | 
| **Apprentissage**     | Scikit-learn, TensorFlow  |
| **Big Data**          | Apache Hadoop, Apache Spark    |
| **Environnements**    | Jupyter Notebook, Google Colab |

# Exemples d'Expressions Arithmétiques

Voici quelques exemples d'expressions arithmétiques en Python :

1. **Addition**  
   L'addition de deux nombres :
   ```python
   5 + 3  # Résultat : 8

2. **Soustraction**
   La soustraction
   ```python
   5 - 3 # Résultat : 2

3. **Multiplication**
   ```python
   5 * 3 # Résultat : 15

4. **Division**
   ```python
   5 / 3 # resultat : 1.6666666666666667

5. **Modulo**
   ```python
   5 % 3 # Résultat : 2

In [ ]:
# Addition
x, y = 5, 10
result = x + y
print(result)